<form [formGroup]="registrationForm" (ngSubmit)="submitForm()"> 
    <label>
        Nome:
        <input type="text" formControlName="firstName" class="name">        
        <span
            class="alert" 
            *ngIf=
                "registrationForm.get('firstName')?.errors && 
                (registrationForm.get('firstName')?.touched || 
                registrationForm.get('firstName')?.dirty)">
            Favor Adicionar o nome
        </span>
    </label>
    <br>
    <br>
    <label>
        Sobrenome:
        <input type="text" formControlName="lastName">
        <span class="alert" 
        *ngIf="registrationForm.get('lastName')?.errors && 
            (registrationForm.get('lastName')?.touched || 
            registrationForm.get('lastName')?.dirty)">
        Sobrenome deve ter no mínimo 
        {{ registrationForm.get('lastName')?.errors?.['minlength']?.requiredLength }}
        e você já digitou 
        {{ registrationForm.get('lastName')?.errors?.['minlength']?.actualLength }}
    </span>
    </label>
    <br>
    <br>
    <label>
        Email:
        <input type="text" formControlName="email">
        
    </label>
    
    <p>
        <!--{{ registrationForm.get('firstName')?.value }} 
        {{ registrationForm.get('firstName')?.errors | json }}
        {{ registrationForm.get('firstName')?.touched | json }}
        {{ registrationForm.get('firstName')?.dirty | json }} -->

        <!--{{ registrationForm.get('lastName')?.errors | json }}-->
        <!--{{ registrationForm.get('lastName')?.errors | json }}
        {{ registrationForm.get('lastName')?.touched | json }}
        {{ registrationForm.get('lastName')?.dirty | json }} -->

        {{ registrationForm.get('email')?.errors | json }}
    </p>
    <button [disabled]="registrationForm.invalid">Enviar</button>
</form>
